.form {
    display: flex;
    flex-direction: column;
    width: 100%;



}

.new {
    width: 50%;
}

.form-center {
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.form input {
    box-sizing: border-box;
    padding: 15px;
    width: 35%;
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.54);

}


.form button {
    box-sizing: border-box;
    padding: 15px;
    width: 35%;
    background-color: #00A2DC;
    border-radius: 4px;
    border: none;
    color: #fff;
}

.new button {
    width: 100px;
}