<header>
    <div class="header-logo">
        <a href="/"><img src="/images/logo.png" alt=""></a>

    </div>
    <div class="header-search">
        <div class="input-div"><input type="text" placeholder="Поиск по блогам"></div>

        <div class="btn-div header-search-btn"><button><img src="/images/icons/search.png" alt="">Найти</button></div>
    </div>
    <div class="header-buttons">
        <button><a href="/register">Регистрация</a></button>
        <button><a href="/login">Вход</a></button>
    </div>
</header>